@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&family=Metrophobic&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}
body{
  background-color: #f3fff6;
}
h1, h2, h3, h4,h5,h6{
  font-family: 'Metrophobic', sans-serif;
  color: #1D3557;
}
.hero{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.hero-text{
  width: 45%;
  margin-left: 5%;
}
.text-color{
  color: #457B9D;
}
.button{
  text-decoration: none;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: #c25251;
  display: inline-block;
  margin-top: 80px;
  margin-left: 40px;
}
.hero-text h1{
  font-size: 70px;
  font-weight: 700;
  border-left: 10px solid #3c6382;
  padding-left: 20px;
}
.hero-image{
  width: 45%;
  margin-right: 5%;
  padding-left: 50px;
}
.hero-image img{
  width: 450px;
  border-radius: 40px;
  background-color: #d9e0d570;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.company{
  display: flex;
  width: 100%;
  height: 80vh;
  margin-top: 150px;
  padding: 0 5%;
}
.company img{
  border-radius: 50%;
  padding-right: 40px;
}
.company h2{
  font-size: 40px;
  font-weight: 700;

}
.company p small{
  color: #457b9d;
}

.about-us{
  width: 100%;
  height: 80vh;
  margin-top: 60px;
  padding: 0 5%;
}
.about-text h1{
  text-align: center;
  font-size: 50px;
  color: #1d3557;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 100px;
}
.about-box{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.box-1{
  width: 30%;
  background-color: #999797;
  border-radius: 10px;
  padding: 20px;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
}
.box-2{
  width: 30%;
  background-color: #6FA6A6;
  border-radius: 10px;
  padding: 20px;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
}
.box-3{
  width: 30%;
  background-color: #B4D9D9;
  border-radius: 10px;
  padding: 20px;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
}
.box-1 img{
  display: block;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 15px;
}
.box-2 img{
  display: block;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 15px;
}
.box-3 img{
  display: block;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 15px;
}
.box-1 h3{
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}
.box-1 h3{
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}
.box-2 h3{
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}
.box-3 h3{
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}
.clint-revw{
  width: 100%;
  height: 80vh;
  margin-top: 100px;
  padding: 0 5%;
  margin-bottom: 30px;
}
.clint-revw h1{
  text-align: center;
  font-weight: 700;
  margin-bottom: 100px;
  font-size: 50px;
}
.clint-box{
  display: flex;
}
.clint-text{
  width: 60%;
}
.clint-text h4{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}
.clint-text p{
  padding-top: 40px;
  color: #457b9d;
  font-weight: 700;
}
.clint-img{
  width: 35%;
  padding-left: 40px;
}
.img-1{
  border-radius: 50%;
  top: 0;
  left: 0;
  margin-top: 20px;
}
.img-2{
  border-radius: 50%;
  margin-left: 200px;
}
